.App {
    min-width: 60vw;
    min-height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav-bar {
    width: 100%;
    display: flex;
    flex-direction: column;

}

.login-btn {
    margin-top: 1rem;
    display:flex;
    justify-content: flex-end;
    align-items: center;

}

.logo-img {
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-container {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-around;
}

.menu-item {
    padding: 10px;

    display: flex;
    flex-direction: row;
    align-items: center;
    list-style: none;
}

.menu-item > li {
    padding: 20px;
}

.search-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;

    border-bottom: 1px solid grey;
}

.search-box > input {
    border: none;
}

.ProductAll {
    display: flex;
}

.productCard {
    width: 20rem;
}

.productCard > img {
    width:100%;
    min-width: 50%;
}
